{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Capsules</title>
    <link rel="stylesheet" href="{% static 'testanadeb/style.css' %}">
</head>
<body>
   
    <img id="small_logo" src="{% static 'testanadeb/images/smallimage.png' %}">
   <div>
       <h1>Nos Capsules</h1>
   </div>


    <div class="testanadeb_list">
        {% for capsules in capsules %}
        <div class="testanadeb_list_item">
            <span class="testanadeb_list_title" >{{capsules.nom}}</span>
            <span class="testanadeb_list_numerovol" >{{capsules.numerovol | floatformat:2}}M</span>
            <span class="testanadeb_list_description" >{{capsules.description}}</span>
            {% if capsules.auto %}
            <span class="testanadeb_list_auto" >AUTO</span>
            {% endif %}
        </div>
        {% endfor %}
        </div>
</body>
</html>