{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet ANADEB</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
   
    <img src="{% static 'main/images/mainbackground.jpg' %}">

</body>
</html>