
body {
    background: url("images/backgroundimage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: arial;
}

#small_logo{
    margin-top: 25px;
    margin-left: 35px;
}

h1{
   background-color: #DD7835;
   display: inline;

}
.testanadeb_list{
    margin-left: 30px;
}

.testanadeb_list_item{
      margin: 30px 0px;

}
.testanadeb_list_title{
      font-weight: bold;
      font-size: 20px;
      display: inline-block;
      width: 350px;
}
.testanadeb_list_numerovol{
       font-size: 20px;
       color: #DD7835;
       width: 60px;
       display: inline-block;
       text-inline: right;

}
.testanadeb_list_description{
       font-size: 14px;
       color: #C8C8C8;
       margin-top: 4px;
       display: block;
       width: 320px;
}

.testanadeb_list_auto{
       background-color: #DD7835;
       color: black;
       margin-top: 4px;
       padding: 3px 8px;
       display: inline-block;
       border-radius: 8px;
       font-weight: bold;

}
